{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  <div class="journal_publications">
<!--    <div class="j-type">{{ publications.journal_heading }}</div>-->
    <div id="j-type" style="width: 1000px">
      <p><span style="font-size: 18px; background: gray; color: white; font-weight: bold; border-radius: 5px; width: auto; height: auto; padding: 0px 5px 1px 5px;">
        Journal Publications
      </span></p>
    </div>
    {% for jp in publications.journal_papers %}
    <div class="item">
      <ul><li>
        <div class="description">
          {% if jp.link %}
            <p class="title"><a href="{{ jp.link }}">{{ jp.title }}</a></p>
          {% else %}
            <p class="title">{{ jp.title }}</p>
          {% endif %}
          <p class="authors">{{ jp.authors }}</p>
          {% if jp.footnote %}
            <p class="footnote">{{ jp.footnote }}</p>
          {% endif %}
          <p class="venue">{{ jp.venue }}</p>
        </div>
        <div class="figure">
          <img src="{{ site.baseurl }}/assets/images/{{ jp.figure }}" class="figure" alt>
        </div>
<!--        {% if jp.link %}-->
<!--          <li><a style="font-weight: bold; color: #00008b" href="{{ jp.link }}">{{ jp.title }}</a></li>-->
<!--        {% else %}-->
<!--          <li style="font-weight: bold">{{ jp.title }}</li>-->
<!--        {% endif %}-->
<!--        <div class="jp-authors">{{ jp.authors }}</div>-->
<!--        <div class="jp-conference" style="font-size: 16px">{{ jp.conference }}</div>-->
      </li></ul>
    </div><!--//item-->
    <br>
    {% endfor %}
  </div>

  <br>

  <div class="conference_publications">
    <div id="c-type" style="width: 1000px">
      <p><span style="font-size: 18px; background: gray; color: white; font-weight: bold; border-radius: 5px; width: auto; height: auto; padding: 0px 5px 1px 5px;">
        Conference Publications
      </span></p>
    </div>
    {% for cp in publications.conference_papers %}
    <div class="item">
      <ul><li>
        <div class="description">
          {% if cp.link %}
            <p class="title"><a href="{{ jp.link }}">{{ cp.title }}</a></p>
          {% else %}
            <p class="title">{{ cp.title }}</p>
          {% endif %}
          <p class="authors">{{ cp.authors }}</p>
          {% if cp.footnote %}
            <p class="footnote">{{ cp.footnote }}</p>
          {% endif %}
          <p class="venue">{{ cp.venue }}</p>
        </div>
        <div class="figure">
          <img src="{{ site.baseurl }}/assets/images/{{ cp.figure }}" class="figure" alt>
        </div>
<!--        {% if jp.link %}-->
<!--          <li><a style="font-weight: bold; color: #00008b" href="{{ jp.link }}">{{ jp.title }}</a></li>-->
<!--        {% else %}-->
<!--          <li style="font-weight: bold">{{ jp.title }}</li>-->
<!--        {% endif %}-->
<!--        <div class="jp-authors">{{ jp.authors }}</div>-->
<!--        <div class="jp-conference" style="font-size: 16px">{{ jp.conference }}</div>-->
      </li></ul>
    </div><!--//item-->
    <br>
    {% endfor %}
  </div>

</section><!--//section-->
{% endif %}
