{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  <div class="journal_publications">
<!--    <div class="j-type">{{ publications.journal_heading }}</div>-->
    <div id="j-type" style="width: 1000px">
      <p><span style="font-size: 18px; background: gray; color: white; font-weight: bold; border-radius: 5px; width: auto; height: auto; padding: 0px 5px 1px 5px;">
        Journal Publications
      </span></p>
    </div>
    {% for jp in publications.journal_papers %}
    <div class="item">
      {% if jp.link %}
        <li><a style="font-weight: bold; color: #00008b" href="{{ jp.link }}">{{ jp.title }}</a></li>
      {% else %}
        <li style="font-weight: bold">{{ jp.title }}</li>
      {% endif %}
      <div class="jp-authors">{{ jp.authors }}</div>
      <div class="jp-conference" style="font-size: 16px">{{ jp.conference }}</div>
    </div><!--//item-->
    <br>
    {% endfor %}
  </div>

  <br>

  <div class="conference_publications">
    <div id="c-type" style="width: 1000px">
      <p><span style="font-size: 18px; background: gray; color: white; font-weight: bold; border-radius: 5px; width: auto; height: auto; padding: 0px 5px 1px 5px;">
        Conference Publications
      </span></p>
    </div>
    {% for cp in publications.conference_papers %}
    <div class="item">
      {% if cp.link %}
        <li><a style="font-weight: bold; color: #00008b" href="{{ cp.link }}">{{ cp.title }}</a></li>
      {% else %}
        <li style="font-weight: bold">{{ cp.title }}</li>
      {% endif %}
      <div class="cp-authors">{{ cp.authors }}</div>
      <div class="cp-conference" style="font-size: 16px">{{ cp.conference }}</div>
    </div><!--//item-->
    <br>
    {% endfor %}
  </div>

</section><!--//section-->
{% endif %}
